@using CoreLayer.ViewModels.Chats
@model List<UserGroupViewModel>
@{
	ViewData["Title"] = "Home Page";
}

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<form class="modal-content" enctype="multipart/form-data" onsubmit="insertGroup(event)">
			<div class="modal-header">
				<h5 class="modal-title" id="exampleModalLabel">ایجاد گروه</h5>
				<button type="submit" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<input type="text" id="groupName" class="form-control" placeholder="نام گروه را وارد کنید" />
				<br />
				<input type="file" accept="image/*" name="image" class="form-control" />
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-dismiss="modal">لغو</button>
				<button type="submit" class="btn btn-success">ایجاد</button>
			</div>
		</form>
	</div>
</div>

<div class="row">
	<div class="col-8 chat-content">
		<div class="header"  style="display:none">
			<img src="img/Default.jpg" />
			<h2>علی</h2>
		</div>
		<div class="chats">
			@*<div class="chat-me">
				<div class="chat">
					<p>سلام خوبی چه خبر ؟ </p>
					<span>2020/06/05</span>
				</div>
			</div>
			<div class="chat-you">
				<div class="chat">
					<p>سلام ممنون </p>
					<span>2020/06/05</span>
				</div>
			</div>*@
		</div>
		<div class="footer" style="display:none">
			<form onsubmit="sendMessage(event)">
				<input id="messageText" type="text" class="form-control" placeholder="متن خود را وارد کنید">
				<button class="btn btn-success">
					ارسال
					<i class="fa fa-send"></i>
				</button>
			</form>
		</div>
	</div>
	<div class="col-4 rooms">
		<Ul>
			<li>
				<form>
					<input type="text" onkeyup="search()" id="searchInput" placeholder="جستوجو کنید" class="form-control" />
					<i class="fa fas fa-search"></i>
				</form>
			</li>
			<li id="searchResult" style="cursor:none; padding: 0; display:none">
				<ul>
					@*<li class="alert alert-warning">Not Found</li>*@
				</ul>
			</li>
			<li id="userGroups" style="cursor:none; padding: 0">
				<ul>
					<li>
						<button class="btn btn-success d-block w-100" data-toggle="modal" data-target="#exampleModal">
							<i class="fa fa-plus">
								ایجاد گروه جدید
							</i>
						</button>
					</li>
					@foreach (var item in Model)
					{
						<li onclick="JoinInGroup('@item.Token')" @*data-id="@item.Token"*@>
							@item.GroupName
							@{
								var imagePath = string.IsNullOrEmpty(item.ImageName) ? "/img/Defaults.jpg" : "/image/groups/@item.ImageName";
							}
							<img src="@imagePath" />
							@if (item.LastChat != null)
							{
								var time = item.LastChat.CreateDate;
								<span>@time.Date.ToString("MM/dd/yyyy H:mm")</span>
							}
						</li>
					}
				</ul>
			</li>
		</Ul>
	</div>
</div>
@section Scripts {
<script src="/lib/microsoft/signalr/dist/browser/signalr.js"></script>
<script src="/js/SignalRCustom.js"></script>
<script>
	var connection = new signalR.HubConnectionBuilder()
	.withUrl("/chat")
	.build();

	connection.on("Greeting",function(txt){
		console.log(txt);
	});
	connection.on("ReceiveMessage", onReceiveMessageResult);
	connection.on("NewGroup",appendGroup);
	connection.on("JoinGroup",JoinedGroup);

	connection.start();

	//$("li[data-id]").click(function(){
	//	var token = $(this).attr("data-id");

	//})
	function JoinedGroup(group, chats){
		$(".header").css("display", "block");
		$(".footer").css("display", "block");
		$(".header h2").html(group.groupTitle);
		$(".header img").attr("src", `/image/groups/${group.imageName}`);
	}
	function JoinInGroup(token){
		connection.invoke("JoinInGroup", token)
	}
</script>
}